<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="scripts.js"></script>

  <title>Your Cool Form</title>
</head>
<body>
  <div class="container text-center">
    <p id="localStorage"></p>
    <p id="sessionStorage"></p>
    <button class="btn btn-danger" id="clear">Clear Cookies and Sessions</button>
    <div class="row">
      <div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-10 col-xs-offset-2">
        <h1>Your Session Form</h1>
        <form id="session-form">
          <label for="location">Location</label>
          <input class="form-control" type="text" name="location">
          <label for="duration">Duration</label>
          <input class="form-control" type="text" name="duration">
          <input class="form-control btn btn-primary" type="submit">
          <div id="current-session">
            <h2>Server side information:</h2>
            <p>Current session location is: <%= session.location %></p>
            <p>Current session duration is: <%= session.duration %></p>
          </div>
        </form>
      </div>
      <div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2 col-xs-10 col-xs-offset-2">
        <h1>Your Cookie Form</h1>
        <form id="cookie-form">
          <label for="dough">Dough</label>
          <input class="form-control" type="text" name="dough" value="<%= cookie.dough %>">
          <label for="ingredient">Ingredient</label>
          <input class="form-control" type="text" name="ingredient" value="<%= cookie.ingredient %>">
          <input class="form-control btn btn-primary" type="submit">
          <div id="current-cookies">
            <h2>Client side information:</h2>
            <p>Current cookie dough is: <%= cookie.dough %></p>
            <p>Current cookie ingredient is: <%= cookie.ingredient %></p>
          </div>
        </form>
      </div>
      <form id="long-form">
        <h1>A Long Form</h1>
        <input type="text" name="foo" value="<%= cookie.foo %>">
        <input type="text" name="bar" value="<%= cookie.bar %>">
        <input type="text" name="baz" value="<%= cookie.baz %>">
        <input type="text" name="how" value="<%= cookie.how %>">
        <input type="text" name="what" value="<%= cookie.what %>">
        <input type="text" name="when" value="<%= cookie.when %>">
        <input class="form-control btn btn-primary" type="submit">
      </form>
    </div>
  </div>
</body>
</html>